{% extends "base.html" %}

{% block content %}


<!-- Begin Page Content -->
<div class="container-fluid">


<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Liste des Maisons</h1>
{% if user.user_type == 3 %}<a href= "{% url 'maison:ajouter-maison' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-data fa-sm text-white-50"></i> Nouvelle Maison</a>{%endif%}
</div>

          <!-- Content Row -->
          <div class="row">

          {% for maison in object_list %}
            <!-- Earnings (Monthly) Card Example -->
            <a href="{% url 'maison:maison-detail'  pk=maison.pk %}">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="col-auto">
                                          </div>
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"><h4>{{maison.nom_maison}}</h4></div>
                      <h5>Nombre de chambre  <span class="counter">{{maison.chambre_set.all.count}}</span> <span class="tuition-fees"></span></h5>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{maisons}}</div>
                    </div>

                    </a>

                        <div class="row">
                          <div class=" col-md-6 ">
                   <a href="{% url 'maison:editMaison' maison.pk  %}"> <button type="button" class="btn btn-info  btn-edit">

                    <i class="mdi mdi-file-check btn-icon-append">   Editer</i>
                    </button></a>
                    </div>


                    <div class=" col-md-6 ">

                 <a href="{% url 'maison:supprimer-maison' pk=maison.pk %}" > <button type="button" class="btn btn-danger  btn-sup">

                    <i class="mdi mdi-delete btn-icon-append">  Supprimer</i>
                    </button></a>
                      </div>
                    </div>






                  </div>
                </div>
              </div>
            </div>



            {% endfor%}

 </div>
        <a class="scroll-to-top rounded" href="#page-top">
   <i class="fas fa-angle-up"></i>
 </a>

 <!-- Logout Modal-->
 <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Vous voulez quittez cette page?</h5>
         <button class="close" type="button" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">×</span>
         </button>
       </div>
       <div class="modal-body">Selectionnez "Se deconnecter" si dessous si vous etes prets a  quitter session.</div>
       <div class="modal-footer">
         <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
         <a class="btn btn-primary" href="{% url 'authentication:login'%}">Se deconnecter</a>
       </div>
     </div>
   </div>
 </div>


{% endblock content%}
